{% raw %}
{% extends "navigation_template.html" %}

{% block body_form %}
    <h4>{{ page_heading }}</h4>
    <form action="{{ url_for_endpoint }}" enctype="multipart/form-data" method="post">
{% endraw %}
        {% for column_name, column_dict in blueprints['database']['current_table'].column_details.items() %}
        {% if column_name != "id" and column_dict.type_ui == "text" %}
        {{ current_table_name }} {{ column_name }} (type: {{ column_dict.type }})
        <input type="text" name="{{ column_name }}" value="{{ '{{' }} {{ column_name }} {{ '}}' }}" style="width: 94%">

        {% elif column_name != "id" and column_dict.type_ui == "file" %}
        {{ current_table_name }} {{ column_name }} (type: {{ column_dict.type }})
        <input type="file" name="{{ column_name }}" value="{{ '{{' }} {{ column_name }} {{ '}}' }}" style="width: 94%">

        {% endif %}
        {% endfor %}
{% raw %}
        <input type="hidden" name="submitted" value="submitted">
        <input type="submit">
    </form>
{% endblock %}


{% block body_data1 %}
    {{ df_html }}
{% endblock %}
{% endraw %}
