{% raw %}
{% extends "navigation_template.html" %}

{% block body_form %}
    <h4>{{ page_heading }}</h4>
    <form action="{{ url_for_endpoint }}">
{% endraw %}
        {% for column_name in blueprints['database']['current_table'].column_names %}
        {{ current_table_name }} {{ column_name }} (type: {{ blueprints['database']['current_table'].column_details[column_name].type }})
        <input type="text" name="{{ column_name }}" value="{{ '{{' }} {{ column_name }} {{ '}}' }}" style="width: 94%">

        {% endfor %}

{% raw %}
        <input type="hidden" name="submitted" value="submitted">
        <input type="submit">
    </form>
{% endblock %}


{% block body_data1 %}
    {{ df_html }}
{% endblock %}
{% endraw %}
