{% raw %}
{% extends "navigation_template.html" %}

{% block body_form %}
    <h4>{{ page_heading }}</h4>
    <form action="{{ url_for_endpoint }}">
        Pipeline ID (e.g. 1)
        <input type="text" name="id" value="{{ id }}" style="width: 94%">

        Pipeline Name (e.g. data-cleaner)
        <input type="text" name="name" value="{{ name }}" style="width: 94%">

        Pipeline Tag (e.g. test, prod)
        <input type="text" name="tag" value="{{ tag }}" style="width: 94%">

        <input type="hidden" name="submitted" value="submitted">
        <input type="submit">
    </form>
{% endblock %}


{% block body_data1 %}
    {{ df_html }}
{% endblock %}
{% endraw %}
